RewriteEngine On

RewriteCond %{HTTP_HOST} ^(.+)\.dambel\.(net|co|org)$ [NC]
RewriteRule ^(.*)$ http://%1.dambel.io/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^(dambel\.(net|co|org))$ [NC]
RewriteRule ^(.*)$ http://dambel.io/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.dambel\.io$ [NC]
RewriteRule ^(.*)$ http://dambel.io/$1 [L,R=301]

<Files "README.md">
    Require all denied
</Files>

<Files ".gitignore">
    Require all denied
</Files>

RewriteRule ^(\.git|\.github) - [F,L]
